[submodule "any-gem"]
	path = any-gem
	url = https://github.com/z-shell/any-gem
[submodule "any-node"]
	path = any-node
	url = https://github.com/z-shell/any-node.git
[submodule "apr"]
	path = apr
	url = https://github.com/z-shell/apr.git
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/z-shell/pyenv.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/z-shell/fzf.git
[submodule "fzy"]
	path = fzy
	url = https://github.com/z-shell/fzy.git
[submodule "firefox-dev"]
	path = firefox-dev
	url = https://github.com/z-shell/firefox-dev.git
